body {
  height: 100vh;
  box-sizing: border-box;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.backdrop {
  background-color: #eec848;
  width: 650px;
  height: 650px;
  border-radius: 325px;
}

body,
.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
}

#calcshell {
  height: 450px;
  width: 350px;
  background-color: #aab0c5;
  box-shadow: 0px 10px 1px 1px #c1a03b;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#display {
  background-color: #e4f2fd;
  margin: 0 15px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0px -10px 0px 0px #d2dfe8;
}

#buttons {
  height: 275px;
  background-color: #aab0c5;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  gap: 8px;
  padding: 12px;
}

button {
  font-size: 30px;
  font-weight: bold;
  width: 75px;
  height: 50px;
  color: #60636d;
  background-color: #ffffff;
  border: none;
  border-radius: 30px;
  font-family: 'Dosis', sans-serif;
  box-shadow: 0px 2px rgb(80, 77, 77);
}

button:hover {
  background-color: #dbdada
}

button:active {
  box-shadow: none;
}

.zero {
  width: 160px;
}

.operators,
.equals,
.clear,
.convert {
  color: #e75100;
  font-size: 35px;
}

.operations {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  text-align: right;
  font-size: 24px;
  color:#60636d
}

.calculation {
  height: 50px;
  text-align: right;
  font-size: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 765px) {
    .backdrop {
      border-radius: 0;
      height: 300px;
    }
}

@media (max-width: 370px) {
  #calcshell {
    height: 450px;
    width: 300px;
  }

  #display {
    height: 85px;
  }

  button {
    width: 50px; 
    height: 50px; 
    font-size: 20px;
  }

  #buttons {
    gap: 7px;
  }

  .zero {
    width: 125px;
  }

.operators,
.equals,
.clear,
.convert{
  font-size: 25px;
}

.operations,
.calculation {
height: 42,5px
}
.operations {
  font-size: 20px;
}

.calculation {
  font-size: 25px;
  align-items: flex-start;
}
}